[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "alembic>=1.17.2",
    "email-validator>=2.3.0",
    "passlib>=1.7.4",
    "sqlalchemy>=2.0.44",
]
